# Data Handling
pandas
numpy

# NLP Models & Transformers
torch>=1.13
transformers==4.38.2
datasets
sentence-transformers==2.2.2

# Model Training
scikit-learn
joblib

# Plotting & Visualization
matplotlib
seaborn
plotly

# Streamlit Web App
streamlit
streamlit-option-menu

# Evaluation & Utils
nltk
textwrap